
<header>
        <h2>Your Tasks</h2>
</header>
<div id="tasks">
        {{#each tasks}}


<div class="task" id="{{id}}" value="{{completed}}">
               <p><span class="task-button update-task"><span class="status-icon icon"></span></span> <span class="task-button delete-task-btn"><i class="fas fa-times icon delete"></i></span> <span class="task-name">{{title}}<span></span></p>
        </div>

{{/each}}
</div>