
{{#each tasks}}

<div class="task" id="{{id}}" value="{{completed}}">
                <p><span class="task-button update-task"><i class="far fa-circle icon "></i></span><span class="task-button delete-task-btn"><i class="fas fa-times icon delete"></i></span>{{title}}</p>
        </div>

{{/each}}